/* COLORS ***********************/
/* 
Main color: #3bc9db;

white color: #fff;
Light color: #e3fafc;

Dark color: #1098ad;
Dark color: #0b7285;

Shadow:
*/

/* FONT SIZE ***********************/
/* 14px | 18px | 48px | */

/* SPACE ***************************/
/* 
letter-spacing: 5px;
margin-top: 40px;
margin: 50px 50px 100px 50px;
margin-bottom: 5px;
margin: 15px 0;
*/

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #e3fafc;
  color: #e3fafc;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 50px 100px 50px;
}

.title {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 5px;
  color: #0b7285;
}

.title-text {
  font-size: 18px;
  color: #0b7285;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0b7385a7;
  gap: 30px;
  width: 60vw;
  padding: 25px 15px;
  border-radius: 20px;
  box-shadow: 2px 10px 20px #0b738568;

  position: relative;
}

.btns {
  display: flex;
  width: 62vw;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
}

.btn {
  padding: 8px 16px;
  border-radius: 50px;
  content: "◀︎ Previous week";
  background-color: #add8df;
  box-shadow: 1px 5px 10px #0b73851f;
  cursor: pointer;
  align-self: center;
}

.btn:hover {
  background-color: #0b7285;
}

.dates-title {
  font-size: 18px;
}

.diagrams {
  display: flex;
  gap: 10px;
}

.days {
  display: flex;
  flex-direction: column;
}

.texbox-date {
  padding-bottom: 3px;
  border-bottom: 1px solid #e3fafc76;
  margin-bottom: 20px;
}

.textbox-text {
  font-size: 14px;
  line-height: 1.5;
}

.img {
  height: 300px;
  cursor: pointer;
  z-index: 1;
}

.img:hover {
  rotate: -6deg;
}

.img-cloud {
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
}

.mon,
.tue,
.wed,
.thu,
.fri,
.sat,
.sun {
  position: relative;
  transition: all 0.2s;
}

.weekday {
  font-size: 14px;
  grid-column: 1;
  text-align: center;
}

.weekday-textbox {
  position: absolute;
  top: 15%;
  left: 55%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 35px;
  z-index: 0;
  width: 160px;
  background-color: #0b7385a7;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.2s;
}

.display {
  margin-right: 180px;
}

.hide {
  opacity: 0;
}

footer {
  border-top: 1px solid rgba(196, 229, 233, 0.692);
}

footer p {
  color: #1098ad8d;
  text-align: center;
  margin: 15px 0;
}
