// COLORS
$darkcolor: #0b7285;
$lightcolor: #e3fafc;

// SPACING
$padding: 6px;

// DISPLAY
$flex: flex;
$flexdirection: column;
$grid: grid;

html {
  background-color: $lightcolor;
  color: $darkcolor;
}

nav {
  ul {
    margin: 0;
    padding: $padding;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    color: $primarycolor;
    display: block;
    padding: $padding 12px;
    text-decoration: none;
  }
}
